<div clas="container">
  <div class="columns" id="convo">
    <div class="column has-background-white">
      <p class="title">
        Matches
      </p>


      <% @matches.each do |match| %>

      <div class="panel-block">
        <figure class="media-left">
          <p class="image is-64x64">
            <% if match.images.attached? %>
            <% match.images.each do |image| %>
            <%= image_tag(match.user_avatar, class: "is-rounded") %>
            <% end %>
            <% end %>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p><%= match.firstname %> <%= match.lastname %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="column is-three-quarters has-background-white">
      <div class="has-text-centered" id="top-bar">
        <p class="title">
          Katya
        </p>
      </div>

      <div id="message-box">
        <div class="message-content">
          <figure class="image is-64x64 is-pulled-left">
            <img class="is-rounded" src="https://bulma.io/images/placeholders/64x64.png">
          </figure>
          <p class="is-pulled-left message-content">Heya</p>
        </div>
        <br>
        <div class="message-content">
          <p class="is-pulled-right message-content">Heyaa whats up</p>
        </div>
        <br>

        <div class="message-content">
          <figure class="image is-64x64 is-pulled-left">
            <img class="is-rounded" src="https://bulma.io/images/placeholders/64x64.png">
          </figure>
          <p class="is-pulled-left message-content">Heya</p>
        </div>
        <br>

        <div class="message-content">
          <p class="is-pulled-right message-content">Heyaa whats up</p>
        </div>
        <br>

        <div class="message-content">
          <figure class="image is-64x64 is-pulled-left">
            <img class="is-rounded" src="https://bulma.io/images/placeholders/64x64.png">
          </figure>
          <p class="is-pulled-left message-content">Heya</p>
        </div>
        <br>

        <div class="message-content">
          <p class="is-pulled-right message-content">Heyaa whats up</p>
        </div>
        <br>

        <div class="message-content">
          <figure class="image is-64x64 is-pulled-left">
            <img class="is-rounded" src="https://bulma.io/images/placeholders/64x64.png">
          </figure>
          <p class="is-pulled-left message-content">Heya</p>
        </div>
        <br>

        <div class="message-content">
          <p class="is-pulled-right message-content">Heyaa whats up</p>
        </div>

      </div>

      <div class="field has-addons" id="message-input">
        <div class="control is-expanded">
          <input class="input is-rounded" type="text" placeholder="Say something nice">
        </div>
        <div class="control">
          <a class="button is-primary is-rounded">
            Send
          </a>
        </div>
      </div>
    </div>
  </div>
</div>