<section class="hero is-large is-black">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h2 class="subtitle">
        sign up and find your
      <span class="is-size-1 brand-title font-effect-anaglyph">
        <span class="bigger">
        PlayerTwo
        </span>
      </span>
    </h2>
    </div>
  </div>
</section>
