<section class="hero is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h2 class="title has-text-primary" style="font-weight: lighter">
        find your
      </h2>
      <%= image_tag("playertwo_white.png") %>
    </div>
  </div>
</section>
<section class="container">
  <div class="columns features">
    <div class="column is-4">
      <div class="card is-shady" id="card-edit">
        <div class="card-image has-text-centered">
          <i class="fa fa-search" id="icon"></i>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <h4 id="header-edit">How we find player for you </h4>
            <p>At PlayerTwo, we aim to find you the perfect partner.
              To do this we use handcrafted algorithms to find common interests
              between you and other members to find that perfect match.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="card is-shady" id="card-edit">
        <div class="card-image has-text-centered">
          <i class="fa fa-empire" id="icon"></i>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <h4 id="header-edit">Our services</h4>
            <p>We allow you to link your Steam account to your PlayerTwo
              profile, and then we use that information so that we can use
              your interests to find others who you may play with.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="card is-shady" id="card-edit">
        <div class="card-image has-text-centered">
          <i class="fa fa-comments" id="icon"></i>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <h4 id="header-edit"> Matching and Messaging </h4>
            <p>Once you have matched with other people, you can now talk to them by
              sending them messages on our in-house messaging system. Also gift players games
              and do a whole lot more.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>