<div class="container">
  <ul>
    <% @matches.each do |match|%>
    <li class="match" data-id="<%= match.id %>">
      <%= match.firstname %>
      <%= match.lastname %>
    </li>
    <% end %>
  </ul>
</div>
