<div class="container">

  <div class="tile is-ancestor" style="flex-wrap: wrap; padding-top: 30px;">


    <% @matches.each do |match|%>
      <div class="tile is-3 is-parent">
        <article class="tile is-child no-pad">
          <%= link_to '#' do %>
          <div class="image-bg" style="background-image: url(<%= match.user_avatar %>);">
            <div class="hero-text">
              <p class="title"><%= match.firstname %></p>
              <p class="subtitle">I'm like so fit and so hot</p>
            </div>
          </div>
        <% end %>
      </article>
    </div>
  <% end %>

</div>
</div>
