/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$black: #051933;
$primary: #c403be;
$link: #19a3a9;
//$body-background-color: #153d7a;
$body-background-color: $black;

//@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&effect=anaglyph|emboss&family=lato&display=swap');
@import "bulma";
@import "font-awesome";

.brand-title {
  font-family: 'Major Mono Display';
  font-size: 40px;
  margin-left: 20px;

  a {
    color: white;
    text-decoration: none;
  }

  .bigger {
    font-size: 55px;
    margin-left: 50px;
  }
}

@media screen and (min-width: 600px) {
  .brand-title {
    .bigger {
      font-size: 78px;
    }
  }
}

@media screen and (min-width: 800px) {
  .brand-title {
    .bigger {
      font-size: 105px;
    }
  }
}

.is-vcentered {
  height: 85vh;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.box {
  //border: 8px ridge $primary;
  font-weight: bold;
  border-radius: 30px;

  //color:$link;
  .form {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    //border-radius: 50px;
    //border: 8px ridge $primary;
  }

  .title {
    font-family: 'Major Mono Display';
    display: table;
    margin: auto;
    margin-bottom: 25px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    width: 100%;

  }
}

.no-pad {
  padding: 0px;
}

.card {
  border-radius: 15px;
}

.image-bg {
  //display: block;
  //margin-left: auto;
  //margin-right: auto;
  width: 320px;
  height: 300px;
  border-radius: 20px;
  //padding: 20px;
  //margin: 20px auto; //0?
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image-bg-bigger {
  width: 435px;
  height: 300px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.help {
  font-weight: normal;
}

#convo {
  width: 90%;
  height: 86%;
  position: absolute;
  left: 6%;
  padding-top: 30px;
}

#top-bar {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 30px;
  //height: 7%;
}

#message-box {
  height: 83%;
  overflow-y: scroll;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

#message-input {
  //position: absolute;
  //top: 60;
}

.message-content {
  background: #f2f2f2;
}

.profile-picture {
  object-fit: cover;
}

#steam-window {
  background-color: #fff;
  position: relative;
  border: 1px solid #dfe1e5;
  box-shadow: 0 1px 15px rgba(27,31,35,.15) !important;
  border-radius: 25px;
  padding: 20px;
  z-index: 2;
  width: 50%;
  margin: 20px auto;
}

#confirm-steam-account {
  display: none;
  background-color: #fff;
  position: relative;
  border: 1px solid #dfe1e5;
  box-shadow: 0 1px 15px rgba(27,31,35,.15) !important;
  border-radius: 25px;
  padding: 20px;
  z-index: 2;
  width: 50%;
  margin: 20px auto;
}
