// Place all the styles related to the browse controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.showing {
  z-index: 2 !important;
  opacity: 1 !important;
}

#slides {
  position: relative;
  list-style-type: none;
  margin-top: 60px;
}

.slide {
  position: absolute;
  opacity: 0;
  z-index: 1;
}
