// Place all the styles related to the browse controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.showing {
  z-index: 2 !important;
  opacity: 1 !important;
}

#slides {
  position: relative;
  background-color: black;
  list-style-type: none;
  margin-top: 20px;
  width: 100%;
}

#slide-controls{
  position: absolute;
  left: 50%;
  top: 400px;
  width: 100px;
  text-align: center;
}

.slide {
  position: absolute;
  opacity: 0;
  z-index: 1;
}

.image-bg {
  width: 250px;
  padding: 20px;
  margin: 20px auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.user-details {
  margin-top: 100px;
  color: white;
}
